

* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Wix Madefor Display', sans-serif;
    font-family: 'Open Sans', sans-serif; }


body { background-color: #ccc;
       padding: 60px 300px; }

ul { list-style-type: none; }

@media screen and (max-width: 1500px) { body { padding: 60px 250px; } }
@media screen and (max-width: 1450px) { body { padding: 60px 200px; } }
@media screen and (max-width: 1320px) { body { padding: 60px 150px; } }
@media screen and (max-width: 1200px) { body { padding: 60px 100px; } }
@media screen and (max-width: 1100px) { body { padding: 60px 50px; } }
@media screen and (max-width: 990px) { body { padding: 0px 0px;
                                              background-color: white; } }



/* Codigo seccion general-container*/

.general-container { width: 100%;
	                 min-height: 180vh;
                     padding: 20px 0;
                     border-radius: 15px;
                     background-color: white; }



/* Codigo seccion barra de navegacion*/
.nav-container { width: 100%;
	             padding: 40px 60px;
                 display: flex;
                 flex-direction: row;
                 justify-content: space-between;
                 align-items: center;

                 font-size: 20px;
                 font-family: 'Wix Madefor Display', sans-serif; }

                 .nav-container span { font-weight: bold;
                 	                   font-size: 1.4em;
                                       color: #000;
                                       text-align: left;
                                       width: 50%; }

                 .nav-container ul { width: 50%;
                                     display: flex;
                                     justify-content: space-around;
                                     font-size: 20px; }

                                     .nav-container ul li { font-size: .8em;
                                                            font-weight: bold;
                                                            color: #000;
                                                            text-align: center;
                                                            cursor: pointer;
                                                            transition: transform .2s ease-in-out, color .2s ease-in-out }

                                                            .nav-container ul li:hover { transform: translateY(5px);
                                                                                         color: #0462DB; }

                 .nav-menu-responsive { display: none;
                                        cursor: pointer; }

@media screen and (max-width: 800px) { .nav-container ul { display: none; }
                                       .nav-menu-responsive { display: flex; } }

@media screen and (max-width: 700px) { .nav-container { padding: 40px 15px; } }
@media screen and (max-width: 500px) { .nav-container span { font-size: 1em; } }


/* Codigo seccion 1*/
.seccion1-container { width: 100%;
                      height: 70vh;

                      display: flex;
                      justify-content: center;
                      align-items: center;
                      font-size: 20px; }

                      .seccion1-content { width: 50%;
                                          height: 100%;
                                          display: flex;
                                          flex-direction: column;
                                          justify-content: center;
                                          align-items: flex-start;
                                          padding-right: 10px;
                                          padding-left: 60px; }

                                          .seccion1-saludo { font-size: 1.5em;
                                                             color: #222;
                                                             text-align: left;
                                                             font-weight: bold;
                                                             position: relative; }

                                                             .seccion1-escribir-saludo { width: 100%;
                                                                                         position: absolute;
                                                                                         right: 0;
                                                                                         background-color: white;
                                                                                         border-left: 4px solid #0462DB; }

                                          .seccion1-nombre { font-size: 2em;
                                                             color: #111;
                                                             text-align: left;
                                                             margin-bottom: 10px;
                                                             font-weight: bold;
                                                             position: relative; }

                                                             .seccion1-escribir-nombre { width: 100%;
                                                                                         position: absolute;
                                                                                         background-color: white;
                                                                                         right: 0;
                                                                                         border-left: 4px solid #0462DB;   }

                                          .seccion1-profesion { font-size: 1em;
                                                                color: #0462DB;
                                                                margin-bottom: 10px;
                                                                text-align: left;
                                                                font-weight: bold; }

                                          .seccion1-content p { font-size: .8em;
                                                                color: #333;
                                                                text-align: left;
                                                                margin-bottom: 20px; }

                                          .seccion1-content-redes { width: 100%;
                                                                    display: flex;
                                                                    justify-content: flex-start;
                                                                    align-items: center; }

                                                                    .seccion1-content-redes img { padding-right: 10px;
                                                                                                  cursor: pointer; }

                      .seccion1-img-container { width: 50%;
                                                height: 100%;
                                                clip-path: circle(40.4% at 50% 50%);

                                                background-image: url(multimedia/imagenes/perfil.webp);
                                                background-attachment: scroll;
                                                background-position: top;
                                                background-repeat: no-repeat;
                                                background-size: cover; }

@keyframes escribir { 0% { width: 100%; }
                      100% { width: 0%; } }

@media screen and (max-width: 700px) { .seccion1-container { flex-direction: column;
                                                             height: 100vh; }
                                       .seccion1-content,
                                       .seccion1-img-container { width: 100%;
                                                                 padding: 15px; }

                                       .seccion1-content { height: max-content; }
                                       .seccion1-img-container { height: 60%; } }




/* Codigo seccion 2*/

.seccion2-container { width: 100%;
                      padding: 60px;

                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;

                      font-size: 20px;
                      background-color: #123; }

                      .seccion2-container h4 { font-size: 1.5em;
                                               color: white;
                                               text-align: center;
                                               margin-bottom: 20px;
                                               font-weight: bold; }

                      .seccion2-container p { font-size: .8em;
                                              color: white;
                                              text-align: center;
                                              font-weight: bold;
                                              margin-bottom: 20px; }

                      .seccion2-imgs-container { width: 100%;
                                                 display: grid;
                                                 grid-template-columns: repeat(3,1fr);
                                                 grid-template-rows: repeat(2,300px);
                                                 grid-gap: 15px; }

                                                 .seccion2-imgs-container div { overflow: hidden;
                                                                                display: flex;
                                                                                justify-content: center;
                                                                                align-items: center; }

                                                                                .seccion2-img1 { background-image: url(multimedia/imagenes/foto1.webp);
                                                                                                 background-attachment: scroll;
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 width: 100%; }
                                                                                
                                                                                .seccion2-img2 { background-image: url(multimedia/imagenes/foto2.webp);
                                                                                                 background-attachment: scroll;
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 width: 100%; }
                                                                                
                                                                                .seccion2-img3 { background-image: url(multimedia/imagenes/foto3.webp);
                                                                                                 background-attachment: scroll;
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 width: 100%; }
                                                                                
                                                                                .seccion2-img4 { background-image: url(multimedia/imagenes/foto4.webp);
                                                                                                 background-attachment: scroll;
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 width: 100%; }
                                                                                
                                                                                .seccion2-img5 { background-image: url(multimedia/imagenes/foto5.webp);
                                                                                                 background-attachment: scroll;
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 width: 100%; }
                                                                                
                                                                                .seccion2-img6 { background-image: url(multimedia/imagenes/foto6.webp);
                                                                                                 background-attachment: scroll;
                                                                                                 background-repeat: no-repeat;
                                                                                                 background-position: center;
                                                                                                 background-size: cover;
                                                                                                 width: 100%; }
