
* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth; }


body { background-color: #040608; }

.importante { color: yellow; }


.main-container { width: 100%;
	              height: 99vh;
	              min-height: 800px;
                  margin-bottom: 20px;
                  padding: 40px 0px;

                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  background: #141E30;
                  background: -webkit-linear-gradient(to top, #243B55, #141E30);
                  background: linear-gradient(to top, #000, #141E3099), url(multimedia/imagenes/main_background.webp);

                  background-position: top;
                  background-size: cover;
                  background-attachment: scroll;
                  background-repeat: no-repeat;

                  overflow: hidden; }
                  
                  .main-content { width: 50%;
                                  padding: 20px;
                                  padding-top: 60px;

                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  color: white;
                                  font-size: 20px; }

                                  .main-content img { width: 50px;
                                                      opacity: .5;
                                                      margin-bottom: 20px; }

                                  .main-content h2 { font-size: 1.2em;
                                                     font-family: 'Ubuntu', sans-serif;
                                                     font-weight: 300;
                                                     margin-bottom: 10px;
                                                     text-align: center; }

                                  .main-content h3 { font-size: 1.8em;
                                                     color: white;
                                                     font-family: 'Righteous',"Poppins",sans-serif;
                                                     font-weight: bold;
                                                     text-align: center;
                                                     margin-bottom: 20px; }

                                  .main-content span { font-size: .8em;
                                                       font-family: "Poppins",sans-serif;
                                                       font-weight: 300;
                                                       text-align: center; }
                  
                  .main-img-container { width: 45%;

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-top: 20px; }

                                        .main-img  { width: 80%;
                                                     filter: drop-shadow(0 50px 15px yellow);
                                                     transform: translateY(-50px);

                                                     animation-name: float;
                                                     animation-duration: 2s;
                                                     animation-timing-function: ease-in-out;
                                                     animation-direction: alternate-reverse;
                                                     animation-fill-mode: forwards;
                                                     animation-iteration-count: infinite; }


@keyframes float {  0% { transform: translateY(-50px); }
                        100% { transform: translateY(-20px); } }


@media screen and (max-width: 950px) { .main-content,
                                       .main-img-container { width: 70%; } }

@media screen and (max-width: 670px) { .main-content,
                                       .main-img-container { width: 80%; } }

@media screen and (max-width: 520px) { .main-content,
                        			   .main-img-container { width: 100%; } }




/*Codigo seccion intro*/

.intro-container { width: 100%;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   padding: 60px 20px;
                   font-size: 20px;
                   font-family: 'Righteous',"Poppins",sans-serif; }

                   .intro-container-tittle { font-size: 1.5em;
                                             color: white;
                                             font-weight: bold;
                                             margin-bottom: 20px;
                                             text-align: center !important;
                                             padding: 0px 20px; }

                   .intro-container-img { animation-name: flecha_abajo;
                                          animation-duration: .5s;
                                          animation-iteration-count: infinite;
                                          animation-fill-mode: forwards;
                                          animation-direction: alternate-reverse;
                                          animation-timing-function: ease-in-out;
                                          margin-bottom: 20px; }

                   .intro-video-container { width: 80%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center; }

                                            .intro-video-container iframe { width: 80%;
                                                                            height: 500px;
                                                                            border: none; }

                                           

                   .intro-boton-container { width: max-content;
                                            padding: 10px 20px;
                                            background-color: yellow;
                                            color: #123;
                                            font-size: 20px;
                                            font-family: "Poppins",sans-serif;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin-top: 60px;
                                            border-radius: 5px;
                                            box-shadow: 0 0px 20px white;
                                            cursor: pointer;
                                            transition: background-color .2s ease-in-out; }

                                            .intro-boton-container:hover { background-color: white; }

                                            .intro-boton { font-size: 1em;
                                                           font-weight: bold;
                                                           margin-right: 5px; }

@keyframes flecha_abajo  { 0% { transform: translateY(0); }
                         100% { transform: translateY(20px); }  }



@media screen and (max-width: 1230px) { .intro-video-container iframe { width: 100%;
	                                                                    height: 400px; } }

@media screen and (max-width: 880px) { .intro-video-container { width: 100%; } }

@media screen and (max-width: 700px) { .intro-boton-container { margin-top: 40px; } }
@media screen and (max-width: 600px) { .intro-boton-container { margin-top: 20px; }
                                       .intro-container { padding: 40px 0px; }

                                       .intro-container-img { margin-bottom: 0px; } }

@media screen and (max-width: 545px) { .intro-container span { margin-bottom: 0px;
                                                               font-size: 1em; } }

@media screen and (max-width: 500px) { .intro-boton-container { margin-top: 0px; } }






/* Codigo seccion pain*/

.pain-container { width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding: 40px 20px;
                  font-size: 20px;
                  font-family: "Poppins",sans-serif;

                  background: #141E30;
                  background: -webkit-linear-gradient(to top, #243B55, #141E30);
                  background: linear-gradient(to top, #000, #141E3099), url("multimedia/imagenes/pain2.webp");

                  background-position: top;
                  background-size: cover;
                  background-attachment: scroll;
                  background-repeat: no-repeat;  }

                  .pain-container h4 { font-size: 1.5em;
                                       color: white;
                                       font-weight: bold;
                                       text-align: center;
                                       margin-bottom: 20px;
                                       font-family: 'Righteous',"Poppins",sans-serif; }

                  .pain-content { width: 60%;
                                  display: flex;
                                  flex-direction: row;
                                  justify-content: center;
                                  align-items: center; }

                                  .pain-content-dolores { width: 50%;
                                                          display: flex;
                                                          flex-direction: column;
                                                          justify-content: center;
                                                          align-items: center; }
    
                                                          .pain-content-dolores div { font-size: 20px;
                                                                                      font-family: "Poppins",sans-serif;
                                                                                      width: 100%;
                                                                                      display: flex;
                                                                                      flex-direction: row;
                                                                                      justify-content: flex-start;
                                                                                      align-items: flex-start;
                                                                                      margin-bottom: 8px; }          

                                                                                      .pain-content-dolores div span { font-size: .8em;
                                                                                                                       color: white;
                                                                                                                       margin-left: 2px; }

                                  
                                  

                                  .pain-img { width: 40%;
                                              border-radius: 5px;
                                              filter: drop-shadow(0 10px 10px yellow);
         
                                              animation-name: float2;
                                              animation-duration: 2s;
                                              animation-direction: alternate-reverse;
                                              animation-timing-function: ease-in-out;
                                              animation-iteration-count: infinite;
                                              animation-fill-mode: forwards; }


@keyframes float2 { 0% { transform: translateY(-20px); }
                  100% { transform: translateY(20px); } }

@media screen and (max-width: 1300px) { .pain-content { width: 80%; } }
@media screen and (max-width: 970px) { .pain-content { width: 100%; } }
@media screen and (max-width: 750px) { .pain-content { flex-direction: column-reverse; }
                                       .pain-content-dolores,
                                       .pain-img { margin: 0px;
                                                   width: 100%; }

                                       .pain-content-dolores,
                                       .pain-container h4 { padding: 0px 15px;
                                                            font-size: 1em; }

                                       .pain-container { background-position: right; }

                                       .pain-img { margin-bottom: 20px; } }

@media screen and (max-width: 520px) { .pain-container { padding: 40px 0px; }
                                       .pain-img { border-radius: 0px; } }




/* Codigo seccion problema*/

.problema-container { width: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      padding: 40px 20px;
                      font-size: 20px;
                      font-family: "Poppins",sans-serif;
                      opacity: 0;
                      transform: scale(.8);
                      transition: opacity .5s ease-in-out, transform .4s ease-in-out;
                      transition-delay: .2s; }

.problema-container-view { opacity: 1;
                           transform: scale(1); }


                      .problema-container h4 { font-size: 1.5em;
                                               font-family: "Righteous","Poppins",sans-serif;
                                               font-weight: bold;
                                               margin-bottom: 20px;
                                               text-align: center;
                                               color: white; }


                      .problema-container p { font-size: .8em;
                                              color: white;
                                              font-weight: normal;
                                              margin-bottom: 20px;
                                              text-align: center;
                                              width: 50%; }

                       .problema-logo { width: 30px;
                                        margin-bottom: 20px; }
                      
                       .problema-flecha { animation-name: flecha_abajo;
                                          animation-duration: .5s;
                                          animation-iteration-count: infinite;
                                          animation-fill-mode: forwards;
                                          animation-direction: alternate-reverse;
                                          animation-timing-function: ease-in-out; }

@media screen and (max-width: 880px) { .problema-container p { width: 70%; } }
@media screen and (max-width: 700px) { .problema-container p { width: 90%; } }
@media screen and (max-width: 550px) { .problema-container p { width: 100%; }
                                       .problema-container { padding: 40px 15px; } }



/* Codigo seccion problema 2*/

.problema2-container { width: 100%;
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       padding: 40px 20px;
                       font-size: 20px;
                       font-family: "Poppins",sans-serif;
                       opacity: 0;
                       transform: scale(.8);
                       transition: opacity .5s ease-in-out, transform .4s ease-in-out;
                       transition-delay: .2s; }

.problema2-container-view { opacity: 1;
                            transform: scale(1); }


                      .problema2-container h4 { font-size: 1.5em;
                                                font-family: "Righteous","Poppins",sans-serif;
                                                font-weight: bold;
                                                margin-bottom: 20px;
                                                text-align: center;
                                                color: white; }


                      .problema2-container p { font-size: .8em;
                                               color: white;
                                               font-weight: normal;
                                               margin-bottom: 20px;
                                               text-align: center;
                                               width: 50%; }

                       .problema2-logo { width: 30px;
                                         margin-bottom: 20px; }
                       
                       .problema2-flecha { animation-name: flecha_abajo;
                                           animation-duration: .5s;
                                           animation-iteration-count: infinite;
                                           animation-fill-mode: forwards;
                                           animation-direction: alternate-reverse;
                                           animation-timing-function: ease-in-out; }

@media screen and (max-width: 880px) { .problema2-container p { width: 70%; } }
@media screen and (max-width: 700px) { .problema2-container p { width: 90%; } }
@media screen and (max-width: 550px) { .problema2-container p { width: 100%; }
                                       .problema2-container { padding: 40px 15px; } }




/* Codigo seccion productor*/

.productor-container { width: 100%;
	                   background: #141E30;
                       background: -webkit-linear-gradient(to top, #243B55, #141E30);
                       background: linear-gradient(to top, #000, #141E3099), url("multimedia/imagenes/main_background.png");
                       background-position: center;
                       background-size: cover;
                       background-attachment: scroll;
                       background-repeat: no-repeat;

                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       font-size: 20px;
                       padding: 20px; }

                       .productor-tittle { font-size: 1.5em;
                                           font-weight: bold;
                                           color: white;
                                           margin: 20px 0px;
                                           text-align: center;
                                           font-family: "Righteous","Poppins",sans-serif;
                                           width: 80%; }

                       .productor-content-container { width: 60%;
                                                      display: flex;
                                                      flex-direction: column;
                                                      justify-content: center;
                                                      align-items: center; }

                                                      .productor-img { width: 80%;
                                                                       filter: drop-shadow(0 10px 12px yellow); }

                                                       .productor-content { width: 100%;
                                                                            font-size: 20px;
                                                                            font-family: "Poppins",sans-serif;
                                                                            display: flex;
                                                                            flex-direction: column;
                                                                            justify-content: center;
                                                                            align-items: center; }

                                                                            .productor-content p { font-size: .8em;
                                                                                                   color: white;
                                                                                                   text-align: center;
                                                                                                   margin-bottom: 15px; }

                                                                            .productor-content span { font-size: 1em;
                                                                                                      color: yellow;
                                                                                                      text-align: center;
                                                                                                      font-weight: bold;
                                                                                                      width: 100%;
                                                                                                      margin-bottom: 10px; }

                                                                            .productor-content img { animation-name: flecha_abajo;
                                                                                                     animation-duration: .5s;
                                                                                                     animation-iteration-count: infinite;
                                                                                                     animation-fill-mode: forwards;
                                                                                                     animation-direction: alternate-reverse;
                                                                                                     animation-timing-function: ease-in-out;
                                                                                                     margin-bottom: 20px;  }

@media screen and (max-width: 750px) { .productor-tittle { font-size: 1em; } }
@media screen and (max-width: 660px) { .productor-content-container { width: 80%; }
                                       .productor-img { width: 100%; } }
@media screen and (max-width: 500px) { .productor-content-container { width: 100%; } }









/* Codigo seccion lograr*/

.lograr-container { width: 100%;
                    padding: 20px;
                    background-color: white;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; }

                    .lograr-img { width: 30%;
                                  max-width: 1600px; }

                    .lograr-content { width: 40%; 
                    	              max-width: 1600px;
                                      display: flex;
                                      flex-direction: column;
                                      justify-content: flex-start;
                                      align-items: flex-start;
                                      font-size: 20px;
                                      font-family: "Poppins",sans-serif; }

                                      .lograr-content h4 { font-size: 1.5em;
                                                           color: #123;
                                                           text-align: left;
                                                           margin-bottom: 20px;
                                                           font-family: 'Righteous',"Poppins",sans-serif; }

                                      .lograr-content div { width: 100%;
                                                            display: flex;
                                                            justify-content: flex-start;
                                                            align-items: flex-start;
                                                            font-size: 20px;
                                                            font-family: "Poppins",sans-serif;
                                                            margin-bottom: 8px; }

                                                            .lograr-content div span { font-size: .8em;
                                                                                       color: #222;
                                                                                       margin-left: 5px;
                                                                                       text-align: left; }


@media screen and (max-width: 1090px) { .lograr-img { width: 40%; } }
@media screen and (max-width: 970px) { .lograr-content { width: 50%; } }
@media screen and (max-width: 860px) { .lograr-img { width: 50%; } }
@media screen and (max-width: 770px) { .lograr-container { flex-direction: column; }
                                       .lograr-img,.lograr-content { width: 60%; } }

@media screen and (max-width: 750px) { .lograr-img { width: 100%; }
                                       .lograr-content { width: 80%; }
                                       .lograr-content h4 { font-size: 1em; } }

@media screen and (max-width: 510px) { .lograr-content { width: 100%; } }



