
* { padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth; }


body { background-color: #040608; }

.importante { color: yellow; }
.importante2 { color: #123; }
.importante3 { color: #222; }


.main-container { width: 100%;
	              height: 99vh;
	              min-height: 800px;
                  margin-bottom: 20px;
                  padding: 40px 0px;

                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  background: #141E30;
                  background: -webkit-linear-gradient(to top, #243B55, #141E30);
                  background: linear-gradient(to top, #000, #141E3099), url(multimedia/imagenes/main_background.webp);

                  background-position: top;
                  background-size: cover;
                  background-attachment: scroll;
                  background-repeat: no-repeat;

                  overflow: hidden; }
                  
                  .main-content { width: 50%;
                                  padding: 20px;
                                  padding-top: 60px;

                                  display: flex;
                                  flex-direction: column;
                                  justify-content: center;
                                  align-items: center;
                                  color: white;
                                  font-size: 20px; }

                                  .main-content h2 { font-size: 1.2em;
                                                     font-family: 'Poppins', sans-serif;
                                                     font-weight: bold;
                                                     margin-bottom: 10px;
                                                     text-align: center; }

                                  .main-content h3 { font-size: 1.8em;
                                                     color: white;
                                                     font-family: 'Righteous',"Poppins",sans-serif;
                                                     font-weight: bold;
                                                     text-align: center;
                                                     margin-bottom: 20px; }

                                  .main-content span { font-size: .8em;
                                                       font-family: "Poppins",sans-serif;
                                                       font-weight: 300;
                                                       text-align: center; }
                  
                  .main-img-container { width: 45%;

                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        margin-top: 20px; }

                                        .main-img  { width: 80%;
                                                     filter: drop-shadow(0 50px 15px yellow);
                                                     transform: translateY(-50px);

                                                     animation-name: float;
                                                     animation-duration: 2s;
                                                     animation-timing-function: ease-in-out;
                                                     animation-direction: alternate-reverse;
                                                     animation-fill-mode: forwards;
                                                     animation-iteration-count: infinite; }


@keyframes float {  0% { transform: translateY(-50px); }
                        100% { transform: translateY(-20px); } }


@media screen and (max-width: 950px) { .main-content,
                                       .main-img-container { width: 70%; } }

@media screen and (max-width: 670px) { .main-content,
                                       .main-img-container { width: 80%; } }

@media screen and (max-width: 520px) { .main-content,
                        			   .main-img-container { width: 100%; } }




/*Codigo seccion intro*/

.intro-container { width: 100%;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   padding: 60px 20px;
                   font-size: 20px;
                   font-family: 'Righteous',"Poppins",sans-serif; }

                   .intro-container-tittle { font-size: 1.5em;
                                             color: white;
                                             font-weight: bold;
                                             margin-bottom: 20px;
                                             text-align: center !important;
                                             padding: 0px 20px; }

                   .intro-container-img { animation-name: flecha_abajo;
                                          animation-duration: .5s;
                                          animation-iteration-count: infinite;
                                          animation-fill-mode: forwards;
                                          animation-direction: alternate-reverse;
                                          animation-timing-function: ease-in-out;
                                          margin-bottom: 20px; }

                   .intro-video-container { width: 80%;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center; }

                                            .intro-video-container iframe { width: 80%;
                                                                            height: 500px;
                                                                            border: none; }

                                           

                   .intro-boton-container { width: max-content;
                                            padding: 10px 20px;
                                            background-color: yellow;
                                            color: #123;
                                            font-size: 20px;
                                            font-family: "Poppins",sans-serif;
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            margin-top: 60px;
                                            border-radius: 5px;
                                            box-shadow: 0 0px 20px white;
                                            cursor: pointer;
                                            transition: background-color .2s ease-in-out; }

                                            .intro-boton-container:hover { background-color: white; }

                                            .intro-boton { font-size: 1em;
                                                           font-weight: bold;
                                                           margin-right: 5px; }

@keyframes flecha_abajo  { 0% { transform: translateY(0); }
                         100% { transform: translateY(20px); }  }



@media screen and (max-width: 1230px) { .intro-video-container iframe { width: 100%;
	                                                                    height: 400px; } }

@media screen and (max-width: 880px) { .intro-video-container { width: 100%; } }

@media screen and (max-width: 700px) { .intro-boton-container { margin-top: 40px; } }
@media screen and (max-width: 600px) { .intro-boton-container { margin-top: 20px; }
                                       .intro-container { padding: 40px 0px; }

                                       .intro-container-img { margin-bottom: 0px; } }

@media screen and (max-width: 545px) { .intro-container span { margin-bottom: 0px;
                                                               font-size: 1em; } }

@media screen and (max-width: 500px) { .intro-boton-container { margin-top: 0px; } }






/* Codigo seccion pain*/

.pain-container { width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding: 40px 20px;
                  font-size: 20px;
                  font-family: "Poppins",sans-serif;

                  background: #141E30;
                  background: -webkit-linear-gradient(to top, #243B55, #141E30);
                  background: linear-gradient(to top, #000, #141E3099), url("multimedia/imagenes/pain2.webp");

                  background-position: top;
                  background-size: cover;
                  background-attachment: scroll;
                  background-repeat: no-repeat;  }

                  .pain-container h4 { font-size: 1.5em;
                                       color: white;
                                       font-weight: bold;
                                       text-align: center;
                                       margin-bottom: 20px;
                                       font-family: 'Righteous',"Poppins",sans-serif; }

                  .pain-content { width: 60%;
                                  display: flex;
                                  flex-direction: row;
                                  justify-content: center;
                                  align-items: center; }

                                  .pain-content-dolores { width: 50%;
                                                          display: flex;
                                                          flex-direction: column;
                                                          justify-content: center;
                                                          align-items: center; }
    
                                                          .pain-content-dolores div { font-size: 20px;
                                                                                      font-family: "Poppins",sans-serif;
                                                                                      width: 100%;
                                                                                      display: flex;
                                                                                      flex-direction: row;
                                                                                      justify-content: flex-start;
                                                                                      align-items: flex-start;
                                                                                      margin-bottom: 8px; }          

                                                                                      .pain-content-dolores div span { font-size: .8em;
                                                                                                                       color: white;
                                                                                                                       margin-left: 2px; }

                                  
                                  

                                  .pain-img { width: 40%;
                                              border-radius: 5px;
                                              filter: drop-shadow(0 10px 10px yellow);
         
                                              animation-name: float2;
                                              animation-duration: 2s;
                                              animation-direction: alternate-reverse;
                                              animation-timing-function: ease-in-out;
                                              animation-iteration-count: infinite;
                                              animation-fill-mode: forwards; }


@keyframes float2 { 0% { transform: translateY(-20px); }
                  100% { transform: translateY(20px); } }

@media screen and (max-width: 1300px) { .pain-content { width: 80%; } }
@media screen and (max-width: 970px) { .pain-content { width: 100%; } }
@media screen and (max-width: 750px) { .pain-content { flex-direction: column-reverse; }
                                       .pain-content-dolores,
                                       .pain-img { margin: 0px;
                                                   width: 100%; }

                                       .pain-content-dolores,
                                       .pain-container h4 { padding: 0px 15px;
                                                            font-size: 1em; }

                                       .pain-container { background-position: right; }

                                       .pain-img { margin-bottom: 20px; } }

@media screen and (max-width: 520px) { .pain-container { padding: 40px 0px; }
                                       .pain-img { border-radius: 0px; } }




/* Codigo seccion problema*/

.problema-container { width: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      padding: 40px 20px;
                      font-size: 20px;
                      font-family: "Poppins",sans-serif;
                      opacity: 0;
                      transform: scale(.8);
                      transition: opacity .5s ease-in-out, transform .4s ease-in-out;
                      transition-delay: .2s; }

.problema-container-view { opacity: 1;
                           transform: scale(1); }


                      .problema-container h4 { font-size: 1.5em;
                                               font-family: "Righteous","Poppins",sans-serif;
                                               font-weight: bold;
                                               margin-bottom: 20px;
                                               text-align: center;
                                               color: white; }


                      .problema-container p { font-size: .8em;
                                              color: white;
                                              font-weight: normal;
                                              margin-bottom: 20px;
                                              text-align: center;
                                              width: 50%; }

                       .problema-logo { width: 30px;
                                        margin-bottom: 20px; }
                      
                       .problema-flecha { animation-name: flecha_abajo;
                                          animation-duration: .5s;
                                          animation-iteration-count: infinite;
                                          animation-fill-mode: forwards;
                                          animation-direction: alternate-reverse;
                                          animation-timing-function: ease-in-out; }

@media screen and (max-width: 880px) { .problema-container p { width: 70%; } }
@media screen and (max-width: 700px) { .problema-container p { width: 90%; } }
@media screen and (max-width: 550px) { .problema-container p { width: 100%; }
                                       .problema-container { padding: 40px 15px; } }



/* Codigo seccion problema 2*/

.problema2-container { width: 100%;
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       padding: 40px 20px;
                       font-size: 20px;
                       font-family: "Poppins",sans-serif;
                       opacity: 0;
                       transform: scale(.8);
                       transition: opacity .5s ease-in-out, transform .4s ease-in-out;
                       transition-delay: .2s; }

.problema2-container-view { opacity: 1;
                            transform: scale(1); }


                      .problema2-container h4 { font-size: 1.5em;
                                                font-family: "Righteous","Poppins",sans-serif;
                                                font-weight: bold;
                                                margin-bottom: 20px;
                                                text-align: center;
                                                color: white; }


                      .problema2-container p { font-size: .8em;
                                               color: white;
                                               font-weight: normal;
                                               margin-bottom: 20px;
                                               text-align: center;
                                               width: 50%; }

                       .problema2-logo { width: 30px;
                                         margin-bottom: 20px; }
                       
                       .problema2-flecha { animation-name: flecha_abajo;
                                           animation-duration: .5s;
                                           animation-iteration-count: infinite;
                                           animation-fill-mode: forwards;
                                           animation-direction: alternate-reverse;
                                           animation-timing-function: ease-in-out; }

@media screen and (max-width: 880px) { .problema2-container p { width: 70%; } }
@media screen and (max-width: 700px) { .problema2-container p { width: 90%; } }
@media screen and (max-width: 550px) { .problema2-container p { width: 100%; }
                                       .problema2-container { padding: 40px 15px; } }





/* codigo seccion curso*/

.curso-tittle-container { width: 100%;
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          font-size: 20px;
                          font-family: "Righteous","Poppins",sans-serif;
                          padding: 0 20px; }

                          .curso-tittle { font-size: 1.5em;
                                          color: white;
                                          text-align: center;
                                          margin-bottom: 20px;
                                          transform: scale(.5);
                                          opacity: 0;
                                          transition: transform .8s ease-in-out, opacity .7s ease-in-out; }

                                          .curso-titte-view { opacity: 1;
                                                              transform: scale(1); }

                          .curso-tittle-container img { animation-name: flecha_abajo;
                                                        animation-duration: .5s;
                                                        animation-iteration-count: infinite;
                                                        animation-fill-mode: forwards;
                                                        animation-direction: alternate-reverse;
                                                        animation-timing-function: ease-in-out; } 


.curso-container { width: 100%;
                   height: 50vh;
                   min-height: 740px;
                   display: flex;
                   flex-direction: row;
                   justify-content: center;
                   align-items: center;
                   padding: 20px;
                   position: relative;
                   overflow: hidden;
                   font-size: 20px; }

                   .curso-tittle { width: 100%;
                                   font-size: 1.5em;
                                   color: white;
                                   text-align: center; }

                   .curso-img { width: 30%;
                                filter: drop-shadow(0px 30px 25px #123);
                                margin-bottom: 20px;
                                transform: translateX(50%);
                                position: relative;
                                z-index: 300;
                                transition: transform .8s ease-in-out 1s; }

                                .curso-img-view { transform: translateX(0); }

                   .curso-content { display: flex;
                                    flex-direction: column;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    font-size: 20px;
                                    font-family: "Poppins",sans-serif;
                                    margin-left: 10px;
                                    transform: translateX(-50%);
                                    position: relative;
                                    z-index: 100;
                                    transition: transform .8s ease-in-out .8s, opacity 1s ease-in-out 1s;
                                    opacity: 0; }

                                    .curso-content-view { transform: translateX(0);
                                                          opacity: 1; }

                                    .curso-content h4 { font-size: .8em;
                                                        color: white;
                                                        margin-bottom: 8px; }


@media screen and (max-width: 1280px){ .curso-img { width: 40%; }  }

@media screen and (max-width: 830px) { .curso-img { width: 50%; } }
@media screen and (max-width: 720px) { .curso-container { flex-direction: column; }

                                       .curso-img { width: 60%;
                                                    filter: drop-shadow(0px -20px 30px #123);
                                                    transform: translateX(0) translateY(25%); }

                                       .curso-content { width: 60%;
                                                        margin-left: 0px;
                                                        justify-content: center;
                                                        align-items: center;
                                                        transform: translateX(0) translateY(-25%);  }

                                                        .curso-content h4 { text-align: center; } }

@media screen and (max-width: 670px) { .curso-img { width: 80%; }
                                       .curso-content { width: 80%; } }

@media screen and (max-width: 550px) { .curso-img,.curso-content { width: 100%; } }





/* Codigo seccion productor*/

.productor-container { width: 100%;
	                     background: #141E30;
                       background: -webkit-linear-gradient(to top, #243B55, #141E30);
                       background: linear-gradient(to top, #000, #141E3099);
                       background-position: center;
                       background-size: cover;
                       background-attachment: scroll;
                       background-repeat: no-repeat;

                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       font-size: 20px;
                       padding: 20px; }

                       .productor-tittle { font-size: 1.5em;
                                           font-weight: bold;
                                           color: white;
                                           margin: 20px 0px;
                                           text-align: center;
                                           font-family: "Righteous","Poppins",sans-serif;
                                           width: 80%; }

                       .productor-content-container { width: 60%;
                                                      display: flex;
                                                      flex-direction: column;
                                                      justify-content: center;
                                                      align-items: center; }

                                                      .productor-img { width: 80%;
                                                                       filter: drop-shadow(0 10px 12px yellow); }

                                                       .productor-content { width: 100%;
                                                                            font-size: 20px;
                                                                            font-family: "Poppins",sans-serif;
                                                                            display: flex;
                                                                            flex-direction: column;
                                                                            justify-content: center;
                                                                            align-items: center; }

                                                                            .productor-content p { font-size: .8em;
                                                                                                   color: white;
                                                                                                   text-align: center;
                                                                                                   margin-bottom: 15px; }

                                                                            .productor-content span { font-size: 1em;
                                                                                                      color: yellow;
                                                                                                      text-align: center;
                                                                                                      font-weight: bold;
                                                                                                      width: 100%;
                                                                                                      margin-bottom: 10px; }

                                                                            .productor-content img { animation-name: flecha_abajo;
                                                                                                     animation-duration: .5s;
                                                                                                     animation-iteration-count: infinite;
                                                                                                     animation-fill-mode: forwards;
                                                                                                     animation-direction: alternate-reverse;
                                                                                                     animation-timing-function: ease-in-out;
                                                                                                     margin-bottom: 20px;  }

@media screen and (max-width: 750px) { .productor-tittle { font-size: 1em; } }
@media screen and (max-width: 660px) { .productor-content-container { width: 80%; }
                                       .productor-img { width: 100%; } }
@media screen and (max-width: 500px) { .productor-content-container { width: 100%; } }









/* Codigo seccion lograr*/

.lograr-container { width: 100%;
                    padding: 20px;
                    background-color: white;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center; }

                    .lograr-img { width: 30%;
                                  max-width: 1600px; }

                    .lograr-content { width: 40%; 
                    	              max-width: 1600px;
                                      display: flex;
                                      flex-direction: column;
                                      justify-content: flex-start;
                                      align-items: flex-start;
                                      font-size: 20px;
                                      font-family: "Poppins",sans-serif; }

                                      .lograr-content h4 { font-size: 1.5em;
                                                           color: #123;
                                                           text-align: left;
                                                           margin-bottom: 20px;
                                                           font-family: 'Righteous',"Poppins",sans-serif; }

                                      .lograr-content div { width: 100%;
                                                            display: flex;
                                                            justify-content: flex-start;
                                                            align-items: flex-start;
                                                            font-size: 20px;
                                                            font-family: "Poppins",sans-serif;
                                                            margin-bottom: 8px; }

                                                            .lograr-content div span { font-size: .8em;
                                                                                       color: #222;
                                                                                       margin-left: 5px;
                                                                                       text-align: left; }


@media screen and (max-width: 1090px) { .lograr-img { width: 40%; } }
@media screen and (max-width: 970px) { .lograr-content { width: 50%; } }
@media screen and (max-width: 860px) { .lograr-img { width: 50%; } }
@media screen and (max-width: 770px) { .lograr-container { flex-direction: column; }
                                       .lograr-img,.lograr-content { width: 60%; } }

@media screen and (max-width: 750px) { .lograr-img { width: 100%; }
                                       .lograr-content { width: 80%; }
                                       .lograr-content h4 { font-size: 1em; } }

@media screen and (max-width: 510px) { .lograr-content { width: 100%; } }







/* Codigo seccion obtendra*/

.obtendra-container { width: 100%;
                      display: flex;
                      flex-direction: column;
                      justify-content: center;
                      align-items: center;
                      padding: 20px; }

                      .obtendra-logo { width: 30px;
                                       margin-bottom: 20px;
                                       margin-top: 20px; }

                      .obtendra-content { width: 100%;
                                          display: flex;
                                          flex-direction: column;
                                          justify-content: center;
                                          align-items: center;
                                          margin-bottom: 20px;
                                          font-size: 20px;
                                          font-family: "Poppins",sans-serif; }

                                          .obtendra-content h4 { font-size: 1.2em;
                                                                 font-family: "Righteous","Poppins",sans-serif;
                                                                 color: white;
                                                                 margin-bottom: 20px;
                                                                 text-align: center; }


                                          .obtendra-contenido { width: 50%;
                                                                display: flex;
                                                                justify-content: center;
                                                                align-items: center;
                                                                font-size: 20px;
                                                                font-family: "Poppins",sans-serif; }

                                                                .obtendra-contenido span { font-size: .8em;
                                                                                           color: white;
                                                                                           text-align: center;
                                                                                           padding: 0px 5px; }

                       .obtendra-img { animation-name: flecha_abajo;
                                       animation-duration: .5s;
                                       animation-iteration-count: infinite;
                                       animation-fill-mode: forwards;
                                       animation-direction: alternate-reverse;
                                       animation-timing-function: ease-in-out; }

@media screen and (max-width: 960px) { .obtendra-contenido { width: 70%; } }

@media screen and (max-width: 570px) { .obtendra-contenido { width: 100%; } }

@media screen and (max-width: 450px) { .obtendra-contenido span { border: none;
                                                                  font-size: .6; } }






/* Codigo seccion beneficios*/

.beneficios-container { width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-family: "Righteous","Poppins",sans-serif;
                        padding: 20px;
                        padding-bottom: 40px;

                        background: #141E30;
                        background: linear-gradient(to top, #000, #04060899);
                        background-position: center;
                        background-size: cover;
                        background-attachment: scroll;
                        background-repeat: no-repeat; }

                        .beneficios-container h4 { font-size: 1.5em; 
                                                   color: white;
                                                   font-weight: bold;
                                                   text-align: center;
                                                   margin-bottom: 20px;
                                                   margin-top: 20px; }

                        .beneficios-container p { font-size: .8em;
                                                  color: white;
                                                  text-align: center;
                                                  font-family: "Poppins",sans-serif;
                                                  margin-bottom: 20px; }

                        .beneficios-bono-container { width: 60%;
                                                     border-radius: 15px;
                                                     background-color: #0009;
                                                     padding: 20px;
                                                     margin-bottom: 15px;

                                                     display: flex;
                                                     justify-content: flex-start;
                                                     align-items: center; }

                                                     .beneficios-bono-img { width: 40%;
                                                                            filter: drop-shadow(0 20px 30px #123); }

                                                     .beneficios-bono-content { display: flex;
                                                                                flex-direction: column;
                                                                                justify-content: flex-start;
                                                                                align-items: flex-start;

                                                                                font-size: 20px;
                                                                                font-family: "Righteous","Poppins",sans-serif; }

                                                                                .beneficios-bono-content h4 { font-size: 1.2em;
                                                                                                              color: white;
                                                                                                              font-weight: bold;
                                                                                                              margin-bottom: 20px;
                                                                                                              text-align: left;
                                                                                                              padding-bottom: 2px;
                                                                                                              border-bottom: 1px solid #ccc; }

                                                                                .beneficios-bono-content p  { font-size: .8em;
                                                                                                              color: #ccc;
                                                                                                              text-align: left;
                                                                                                              font-family: "Poppins",sans-serif; }

                                                                                .beneficios-bono-content span { font-size: .8em;
                                                                                                                color: white;
                                                                                                                text-align: left;
                                                                                                                border: 2px solid yellow;
                                                                                                                border-radius: 15px;
                                                                                                                padding: 8px 15px;
                                                                                                                margin-bottom: 8px;
                                                                                                                width: max-content; }

                                                                                .beneficios-bono-content h5 { font-size: .8em;
                                                                                                              color: green;
                                                                                                              text-align: left;
                                                                                                              font-family: "Poppins",sans-serif; }

                         .beneficios-bono-container2 { flex-direction: row-reverse; }
                         .beneficios-bono-container4 { flex-direction: row-reverse; }   


@media screen and (max-width: 1090px) { .beneficios-bono-img { width: 50%; }
                                        .beneficios-bono-container { width: 80%; } }

@media screen and (max-width: 780px) { .beneficios-bono-container { width: 100%; } }
@media screen and (max-width: 630px) { .beneficios-bono-container  { flex-direction: column; }
                                                                   
                                                                   .beneficios-bono-content { width: 70%; }
                                                                   .beneficios-bono-img { width: 70%; } }

@media screen and (max-width: 480px) { .beneficios-bono-img { width: 80%; }
                                       .beneficios-bono-content { width: 90%; }
                                                                .beneficios-bono-content p { font-size: .7em; } }

@media screen and (max-width: 430px) { .beneficios-bono-img {width: 100%;}
                                       .beneficios-bono-content { width: 100%; } }





/* Codigo seccion oferta_fake*/

.oferta_fake-container { width: 100%;
                         background-color: white;

                         display: flex;
                         justify-content: center;
                         align-items: center;
                         padding: 20px;
                         padding-top: 40px; }

                         .oferta_fake-content { width: 60%;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;

                                                font-size: 20px;
                                                font-family: "Righteous","Poppins",sans-serif; }

                                                .oferta_fake-container h4 { font-size: 1.5em;
                                                                            font-weight: bold;
                                                                            text-align: center;
                                                                            color: #123;
                                                                            margin-bottom: 10px; }

                                               .oferta_fake-container img  { width: 100%; }

                                               .oferta_fake_mobil { display: none; }

@media screen and (max-width: 1070px) { .oferta_fake-content { width: 80%; } }
@media screen and (max-width: 910px) {  .oferta_fake-content { width: 100%; } }

/*@media screen and (max-width: 650px) { .oferta_fake { display: none; }
                                       .oferta_fake_mobil { display: flex;
                                                            width: 50%; } }*/



 /* Codigo seccion problema 3*/
.problema3-container { width: 100%;
                       display: flex;
                       flex-direction: column;
                       justify-content: center;
                       align-items: center;
                       padding: 20px;
                       font-size: 20px;
                       font-family: "Poppins",sans-serif;
                       opacity: 0;
                       transform: scale(.8);
                       transition: opacity .5s ease-in-out, transform .4s ease-in-out; }

.problema3-container-view { opacity: 1;
                            transform: scale(1); }


                      .problema3-container h4 { font-size: 1.5em;
                                                font-family: "Righteous","Poppins",sans-serif;
                                                font-weight: bold;
                                                margin-bottom: 20px;
                                                text-align: center;
                                                color: white; }


                      .problema3-container p { font-size: .8em;
                                               color: white;
                                               font-weight: normal;
                                               margin-bottom: 20px;
                                               text-align: center;
                                               width: 50%; }
                       
                       .problema3-flecha { animation-name: flecha_abajo;
                                           animation-duration: .5s;
                                           animation-iteration-count: infinite;
                                           animation-fill-mode: forwards;
                                           animation-direction: alternate-reverse;
                                           animation-timing-function: ease-in-out; }

@media screen and (max-width: 880px) { .problema3-container p { width: 70%; } }
@media screen and (max-width: 700px) { .problema3-container p { width: 90%; } }
@media screen and (max-width: 550px) { .problema3-container p { width: 100%; }
                                       .problema3-container { padding: 40px 15px; } }



  /* Codigo seccion solucion*/

  .solucion-container { width: 100%;
                        padding: 20px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 60px;

                        font-size: 20px;
                        font-family: "Righteous","Poppins",sans-serif; }

                        .solucion-container h4 { font-size: 1.5em;
                                                 font-weight: bold;
                                                 text-align: center;
                                                 color: white;
                                                 margin-bottom: 20px; }

                        .solucion-container  p { font-size: .8em;
                                                 color: white;
                                                 font-weight: normal;
                                                 font-family: "Poppins",sans-serif;
                                                 text-align: center;
                                                 width: 50%; }

@media screen and (max-width: 880px) { .solucion-container p { width: 70%; } }
@media screen and (max-width: 700px) { .solucion-container p { width: 90%; } }
@media screen and (max-width: 550px) { .solucion-container p { width: 100%; }
                                       .solucion-container { padding: 40px 15px; } }

/* Codigo seccion oferta*/

.oferta-container { width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 20px 0;
                    padding-top: 60px;
                    background-color: white;
                    font-size: 20px; }

                    .oferta-container h4 { font-size: 1.5em;
                                           color: #123;
                                           text-align: center;
                                           font-family: "Righteous","Poppins",sans-serif;
                                           font-weight: bold;
                                           margin-bottom: 20px;
                                           padding: 0px 20px; }

                    .oferta-img { width: 50%; }

                    .oferta-resumen-container { width: 50%;
                                                display: flex;
                                                flex-direction: column;
                                                justify-content: center;
                                                align-items: center;
                                                font-size: 20px;
                                                border: 1px solid #ccc;
                                                border-radius: 15px;
                                                margin-top: 20px;
                                                padding: 15px; }

                                                .oferta-resumen-container h4 { font-size: 1.5em;
                                                                               color: #123;
                                                                               padding-bottom: 5px;
                                                                               border-bottom: 1px solid #123;
                                                                               font-family: "Righteous","Poppins",sans-serif;
                                                                               font-weight: bold;
                                                                               margin-bottom: 20px; }

                                                .oferta-resumen-content { width: 60%;
                                                                          display: flex;
                                                                          flex-direction: column;
                                                                          justify-content: flex-start;
                                                                          align-items: flex-start; }

                                                                          .oferta-resumen-content div { width: 100%;
                                                                                                        display: flex;
                                                                                                        justify-content: flex-start;
                                                                                                        align-items: flex-start;
                                                                                                        margin-bottom: 8px;
                                                                                                        font-size: 20px;
                                                                                                        font-family: "Poppins",sans-serif; }

                                                                                                        .oferta-resumen-content div span { font-size: .8em;
                                                                                                                                           color: #123;
                                                                                                                                           text-align: left;
                                                                                                                                           margin-left: 4px;
                                                                                                                                           font-weight: bold; }
                   
                   .oferta-precio-img { width: 40%; }
                   .oferta-metodos-img { width: 30%;
                                         padding: 0px 10px; }
                   .oferta-flecha { margin-top: 20px;
                                    width: 80px;
                                    animation-name: flecha_abajo;
                                    animation-duration: .5s;
                                    animation-iteration-count: infinite;
                                    animation-fill-mode: forwards;
                                    animation-direction: alternate-reverse;
                                    animation-timing-function: ease-in-out; }


@media screen and (max-width: 1080px) { .oferta-precio-img,.oferta-img,.oferta-resumen-container,.oferta-metodos-img { width: 70%; } }
@media screen and (max-width: 845px) { .oferta-precio-img,.oferta-img,.oferta-resumen-container { width: 80%; } }

@media screen and (max-width: 645px) { .oferta-precio-img,.oferta-img,.oferta-resumen-container,.oferta-metodos-img { width: 90%; }
                                       .oferta-resumen-content {width: 80%;} }
@media screen and (max-width: 520px) { .oferta-precio-img,.oferta-img,.oferta-resumen-container,.oferta-metodos-img { width: 100%; }
                                       .oferta-container h4 { font-size: 1.2em; }
                                       .oferta-resumen-content { width: 100%; }
                                       .oferta-resumen-container { border: none;
                                                                   justify-content: flex-start;
                                                                   align-items: flex-start; }

                                                                   .oferta-resumen-container h4 { text-align: left;
                                                                                                  font-size: 1.2em; } }





/* Codigo seccion call to action*/

.call-container { width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  padding: 40px 15px;
                  background-color: white;
                  cursor: pointer;
                  font-size: 20px; }

                  .call-content { width: 20%;
                                  padding: 10px 17px;
                                  display: flex;
                                  justify-content: center;
                                  align-items: center;
                                  margin-bottom: 20px;

                                  border-radius: 35px;
                                  background: #0F2027;  /* fallback for old browsers */
                                  background: -webkit-linear-gradient(to left, #2C5364, #123, #040608);  /* Chrome 10-25, Safari 5.1-6 */
                                  background: linear-gradient(to left,#203A43, #123, #040608); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

                                  font-weight: bold;

                                  font-size: 20px;
                                  font-family: "Poppins",sans-serif;
                                  position: relative;
                                  overflow: hidden;
                                  outline: none;
                                  transition: outline .2s ease-in-out; }

                                  .call-content span { font-size: 1em; 
                                                       color: white;
                                                       text-align: center;
                                                       font-weight: bold; }

                                  .call-overlay { width: 100%;
                                                  height: 100%;
                                                  position: absolute;
                                                  top: 0;
                                                  left: 0;
                                                  background-color: white;

                                                  display: flex;
                                                  justify-content: center;
                                                  align-items: center;

                                                  font-size: 20px;
                                                  font-family: "Poppins",sans-serif;
                                                  color: #123;
                                                  font-weight: bold;
                                                  transform: scale(0);
                                                  opacity: 0;
                                                  transition: transform .2s ease-in-out, opacity .2s ease-in-out; }

                                                  .call-overlay-view { transform: scale(1);
                                                                       opacity: 1; }

                  .call-subtittle { font-size: .8em;
                                    color: #123;
                                    font-family: "Poppins",sans-serif;
                                    margin-bottom: 5px;
                                    text-align: center;
                                    font-weight: bold;  }

                  .call-certificacion { width: max-content;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        font-size: 20px;
                                        font-family: "Poppins",sans-serif; }

                                        .call-certificacion span { font-size: .7em;
                                                                   color: #123;
                                                                   margin-bottom: 2px;
                                                                   text-align: center;
                                                                   font-weight: bold; }

@media screen and (max-width: 1250px) { .call-content { width: 30%; } }
@media screen and (max-width: 1080px) { .call-content { width: 40%; } }
@media screen and (max-width: 730px) { .call-content { width: 50%; } }
@media screen and (max-width: 520px) { .call-content { width: 60%; } }
@media screen and (max-width: 450px) { .call-content { width: 70%; } }
@media screen and (max-width: 390px) { .call-content { width: 80%; } }
@media screen and (max-width: 350px) { .call-content { width: 90%; } }